{% extends 'news/base.html' %}
{% load static %}

{% block title %} Parolini tiklash {% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>

    {% if validlink %}

        <p>Iltimos yangi parolni 2 marta kiriting </p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}

        </form>
    <button type="submit">Parolni tiklash</button>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatilish vaqti o'tib ketgan bo'lishi mumkin</p>
    {% endif %}

{% endblock content %}