{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} Texnologik yangiliklar {% endblock title %}

{% block content %}

    {% for news in texnologik_yangiliklar %}
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="" style="width: 50%"></a>
                </div>
                <div class="col-sm-8">
                    <a href="{{ news.get_absolute_url }}"><h6>{{ news.title }}</h6></a>
                    <p>Ko'rilganlar soni: <i class="fa fa-eye " style="color: #255656;"></i> {% get_hit_count for news %}</p>
                    <p>Izohlar soni: {{ news.comments.count }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}